@model LocalBussPassLibrary.Entities.AdminDetails
<section class="vh-100" style="background-image: url('https://media.istockphoto.com/photos/chhatrapati-shivaji-picture-id667564382?k=20&m=667564382&s=612x612&w=0&h=CmUbMKkhjFdq09GWI6nrlmy-thQDmEF-EcY1djvyqFM='); background-repeat: no-repeat; background-position: center; background-size: cover; ">
    <form action="/registration/admin" method="post">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                            @if (ViewBag.Error != null)
                            {
                                <div class="alert alert-dark">@ViewBag.Error</div>
                            }
                            <h3 class="mb-5">Sign Up</h3>
                            @if (ViewBag.IsValid != null)
                            {
                                <div class="alert alert-danger">Please correct the validation errors</div>
                            }
                            <div class="form-outline mb-4">
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @id = "name" })
                                <label class="form-label" for="name">Full Name</label>
                                @Html.ValidationMessageFor(m => m.Name, String.Empty, new { @style = "color:red" })
                            </div>
                            <div class="form-outline mb-4">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @id = "email" })
                                <label class="form-label" for="email">Email Id</label>
                                @Html.ValidationMessageFor(m => m.Email, String.Empty, new { @style = "color:red" })
                            </div>
                            <div class="form-outline mb-4">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @id = "password" })
                                <label class="form-label" for="password">Password</label>
                                @Html.ValidationMessageFor(m => m.Password, String.Empty, new { @style = "color:red" })
                            </div>

                            <button class="btn btn-primary btn-lg btn-block" type="submit">Register</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>